body{
    display:flex;
    flex-direction: column;
    padding:0;
    margin:0;
    background:#27374D;
}

.top-bar{
    margin:0;
    padding:7px 5px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
}
.top-bar a{
    color:yellow;
}

.top-bar .page-title{
    margin:0;
    margin-left:180px;
    padding:0!important;
    font-size: 25px;
}

.top-bar .avatar {
    width: 200px;
    min-height: 50px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.top-bar .avatar .avatar-logo {
    height: 40px;
    width: 40px;
    border-radius:50%;
    background: #9DB2BF;
}
.top-bar .avatar .avatar-name {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width:100%;
    display:flex;
}
.container .left{
    display:flex;
    flex-direction: column;
    height: calc(100vh - 55px);
    width:180px;
    padding:10px;
}

.container .left button{
    padding:12px 0;
    margin-top:20px;
    border-radius:10px;
    border:none;
    cursor: pointer;
}

.container .right{
    min-height: 100%;
    width: 100%;
    background:#DDE6ED;
    display: flex;
    justify-content: center;
}

.active {
    background:purple;
    color: white;
}

form {
    margin-top:20px;
    margin-bottom:50px;
    width: 60%;
    height: 80%;

    padding:10px;
    display: flex;
    flex-direction: column;
}
.form-control {
    margin-top:10px;
    display:flex;
    flex-direction: column;
}

input, textarea {
    padding:10px;
    border-radius:5px;
    margin-top: 5px;
    border:1px solid gray;
}

/*helpers*/

.border {
    border: 1px solid grey;
}

.border-radius-3 {
    border-radius: 5px;
}

.border-none{
    border:none;
}

.w-full{
    width: 100%;
}

.flex{
    display:flex;
}

.flex-row{
    flex-direction: row;
}

.content-space-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.mr-2{
    margin-right: 5px;
}

.bg-white{
    background: white;
}

.p-5{
    padding:10px;
}

.mt-10{
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .container .left {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        height: unset;
        padding:10px 0;
    }

    .container .left button{
        width:40%;
    }

    .top-bar{
        border-bottom: 1px solid gray;
    }
    .top-bar .page-title{
        margin-left:10px;
    }
    form {
        width:100%;
        height: unset;
    }

    form h1 {
        width: 100%;
        text-align: center;
    }
}